################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ARTILLERY-/v17/Browse.VC.opendb
